@import url('semantic-ui-css/semantic.min.css');

body {
    background-color: rgb(245, 245, 245);
}
.ui.inverted.top.fixed.menu {
    background-color: rgba(22, 63, 187, 0.596);
}
.ui.main.container {
    margin-top: 7em;
}

.master {
    display: flex;
    align-items: center;
    background-color: rgba(22, 63, 187, 0.596) !important; 
    height: 100vh;
}

.master h1.u1.header {
    font-size: 4em;
}